params.project_folder='/Users/jboucas/nextflow-rnaseq-test/'
params.kallisto_raw_data='/Users/jboucas/Desktop/test_ftp/'
params.genomes='/Users/jboucas/Desktop/genomes/'
params.organism='caenorhabditis_elegans' 
// curl -#l ftp://ftp.ensembl.org/pub/current_fasta/
params.release='106'
params.url_gtf="ftp://ftp.ensembl.org/pub/release-${params.release}/gtf/${params.organism}/"
params.url_dna="ftp://ftp.ensembl.org/pub/release-${params.release}/fasta/${params.organism}/dna/"
params.ercc_label="ercc92"
params.url_ercc_gtf="https://datashare.mpcdf.mpg.de/s/MOxbNrXeBNcg9wt/download"
params.url_ercc_fa="https://datashare.mpcdf.mpg.de/s/H9PQu3vDRi9saqV/download"
params.biomart_host="http://dec2021.archive.ensembl.org/biomart/"
params.biomart_dataset="celegans_gene_ensembl"
params.circRNA="None"
params.daviddatabase="ENSEMBL_GENE_ID"
params.DAVIDUSER="<registered.david@email.com>"
params.cytoscape_host="/Users/jboucas/Desktop/cytoscape.ip.txt"
params.species="caenorhabditis elegans"
params.spec="celegans"
params.homefolder="/Users/jboucas/"

includeConfig 'local.config'